In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv("high_vaccine_daily_case&deaths.csv")

In [4]:
df

          date    country  daily case  daily deaths  life lost
0      1/22/20  Australia           0             0          0
1      1/23/20  Australia           0             0          0
2      1/24/20  Australia           0             0          0
3      1/25/20  Australia           0             0          0
4      1/26/20  Australia           4             0          0
...        ...        ...         ...           ...        ...
5665   10/8/21    Uruguay         156             0          0
5666   10/9/21    Uruguay         118             1         -1
5667  10/10/21    Uruguay         103             1         -1
5668  10/11/21    Uruguay          77             0          0
5669  10/12/21    Uruguay         119             0          0

[5670 rows x 5 columns]

In [5]:
df['date'].dtypes

dtype('O')

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5670 entries, 0 to 5669
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          5670 non-null   datetime64[ns]
 1   country       5670 non-null   object
 2   daily case    5670 non-null   int64
 3   daily deaths  5670 non-null   int64
 4   life lost     5670 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 221.6+ KB

In [9]:
df

           date    country  daily case  daily deaths  life lost
0    2020-01-22  Australia           0             0          0
1    2020-01-23  Australia           0             0          0
2    2020-01-24  Australia           0             0          0
3    2020-01-25  Australia           0             0          0
4    2020-01-26  Australia           4             0          0
...         ...        ...         ...           ...        ...
5665 2021-10-08    Uruguay         156             0          0
5666 2021-10-09    Uruguay         118             1         -1
5667 2021-10-10    Uruguay         103             1         -1
5668 2021-10-11    Uruguay          77             0          0
5669 2021-10-12    Uruguay         119             0          0

[5670 rows x 5 columns]

In [10]:
df.to_csv('new_high_vaccine_daily_case&deaths.csv',index=False)