In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = pd.read_csv("high_vaccine_daily_case&deaths.csv")

In [6]:
df

          date          country  daily case  daily deaths  life lost
0      1/22/20        Australia           0             0          0
1      1/23/20        Australia           0             0          0
2      1/24/20        Australia           0             0          0
3      1/25/20        Australia           0             0          0
4      1/26/20        Australia           4             0          0
...        ...              ...         ...           ...        ...
5035   10/8/21  United Kingdom        35120           127       -127
5036   10/9/21  United Kingdom        39493           156       -156
5037  10/10/21  United Kingdom        33654            38        -38
5038  10/11/21  United Kingdom        39738            28        -28
5039  10/12/21  United Kingdom        37855           184       -184

[5040 rows x 5 columns]

In [7]:
df['date'].dtypes

dtype('O')

In [8]:
df['date'] = pd.to_datetime(df['date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5040 entries, 0 to 5039
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          5040 non-null   datetime64[ns]
 1   country       5040 non-null   object
 2   daily case    5040 non-null   int64
 3   daily deaths  5040 non-null   int64
 4   life lost     5040 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 197.0+ KB

In [12]:
df['country'].unique()

array(['Australia', 'Canada', 'Chile', 'China', 'Ireland', 'Portugal',
       'Spain', 'United Kingdom '], dtype=object)

In [13]:
idxs=df[df['country']=='United Kingdom '].index
df.loc[idxs,'country']='United Kingdom'

In [14]:
df['country'].unique()

array(['Australia', 'Canada', 'Chile', 'China', 'Ireland', 'Portugal',
       'Spain', 'United Kingdom'], dtype=object)

In [17]:
df.to_csv('new2_high_vaccine_daily_case&deaths.csv',index=False)